@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    font-family: "Dancing Script";
    font-weight: 800;
    font-size: 40px;
}

h4 {
    font-family: "Dancing Script";
    font-weight: 400;
    font-size: 18px;
}

h5 {
    font-family: "Dancing Script";
    font-weight: 100;
    font-size: 12px;
}